{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "**/*.{md}",
      "options": {
        "parser": "meriyah",
        "proseWrap": "always",
        "printWidth": 80
      }
    }
  ]
}
